* {
    font-family: monospace;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.heading {
    background-image: url(./grey-traingle.jpg);
    padding-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid transparent;
    /* added transparent border*/
    border-radius: 25px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item a {
    color: #000000;
    flex-grow: 15;
    font-weight: bold;
    font-size: larger;
    position: relative;
    text-decoration: solid;
}

.sec-1 {
    margin-block: 0.1px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #000000, #848384);
    opacity: 0.5;
    border-radius: 10px;
    border: 2px solid black transparent;
    /* added transparent border */
    border-radius: 25px;
}

.about {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    font-size: larger;
}

.sec-2 {
    border-style: inset;
}

.head-2 {
    color: black;
    font-weight: bold;
}

.work {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger;
}

.my-info {
    display: flex;
    color: black;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background-color: white;
    opacity: 50%;
    border-radius: 25px
}

.my-worksec {
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horiseon {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.horiseon img {
    width: 100%;
    height: auto;
}

.my-work h2 {
    text-align: center;
}

.flex-1 {
    display: flex;
    justify-content: space-evenly;
}

.horiseon h3 {
    text-align: center;
}

.project2 {
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.project2 h3{
 text-align: center;
}
.project2 img {
    width: 100%;
    height: auto;
}

.contact {
    margin-block: 0.1px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid black transparent;
    /* added transparent border */
    border-radius: 25px;
}

.contact h2{
    text-align: center;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .nav a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}